<div class="cus-container">
    <div style="margin-top: 2px; margin-right: 2px">
        <div class="tabbable tabs-below">
            <div class="tab-content" style="overflow: scroll; height:155px">
                
                <div class="tab-pane active" id="All">
                    <li class="tool-tip li-list" data-ng-repeat="item in sourceData | orderBy:'type+name'" style='list-style:none;margin-left:5px'>
                        <i></i>
                        <span>{{item['@Name']}}</span>

                    </li>
                </div>
                <div class="tab-pane" id="Entity">
                    <li class="tool-tip li-list" data-ng-repeat="item in sourceData | filter:'entity' | orderBy:'type+name' " style='list-style:none;margin-left:5px'>
                        <i></i>
                        <span>{{item['@Name']}}</span>

                    </li>
                </div>
                <div class="tab-pane" id="Query">
                    <li class="tool-tip li-list" data-ng-repeat="item in sourceData | filter:'query' | orderBy:'type+name' " style='list-style:none;margin-left:5px'>
                        <i></i>
                        <span>{{item['@Name']}}</span>

                    </li>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#All" data-toggle="tab">All</a></li>
                <li><a href="#Entity" data-toggle="tab">Entity</a></li>
                <li><a href="#Query" data-toggle="tab">Query</a></li>
            </ul>
        </div>
    </div>
</div>
